* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
  color: #111111;
}

.breed-select {
  max-width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

img {
  display: block;
  border: 1px solid #0d161b;
}

.loader {
  font-size: 0;
  position: relative;
  margin: 20% auto;
  width: 250px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
}
.loader:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cat-info {
  display: flex;
}

.cat-info-text {
  display: block;
  padding: 10px;
}

.cat-title {
  margin: 0;
}

.temperament {
  font-weight: bold;
}

.hidden {
  display: none;
}
